<div class="container">
  <div class="row">
    <% @exhibitions.each do |exhibition| %>
      <h6><%= link_to exhibition.title, exhibition_path(exhibition) %><%= exhibition.detail %>presented by <%= exhibition.user.name %></h6>
      <%= link_to '削除する', exhibition_path(exhibition), method: :delete,"data-confirm" => "本当に削除しますか？", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
<%= DateTime.now.in_time_zone('Tokyo') %><br>
<%= DateTime.now %>