<div class="container">
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="row">
    <div class="exhibition-container">
      <h4 class="title">Exhibitions</h4>
      <table class="exhibition-index">
        <thead>
          <tr>
            <th>Title</th>
            <th>Detail</th>
            <th>Presenter</th>
            <th></th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <% @exhibitions.each do |exhibition| %>
            <% if (exhibition.start_date..exhibition.end_date).cover?(DateTime.now.in_time_zone('Tokyo')) %>
              <tr>
                <td><h6 class="count"><%= link_to exhibition.title, exhibition_path(exhibition) %></h6></td>
                <td><%= exhibition.detail %></td>
                <td><%= exhibition.user.name %></td>
                <td>
                  <% if user_signed_in? && exhibition.user == current_user %>
                    <%= link_to '展覧会を削除する', exhibition_path(exhibition), method: :delete,"data-confirm" => "本当に削除しますか？", class: 'btn btn-default' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <h3 class="message"></h3>
    </div>
  </div>
</div>
