<% if (@exhibition.start_date..@exhibition.end_date).cover?(DateTime.now.in_time_zone('Tokyo')) || @exhibition.user == current_user %>
  <div class="container">
    <div class="row">
      <h3><%= @exhibition.title %>presented by <%= @exhibition.user.name %></h3>
      <%= link_to '編集する', edit_exhibition_path(@exhibition), class: 'btn btn-default' %>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <div class="row">
          <%= attachment_image_tag @exhibition.user, :profile_image, :fill, 200, 200, format: 'jpeg' %><br>
          <%= @exhibition.user.name %>
          <%= @exhibition.user.introduction %>
        </div>
        <div class="row">
          <p><%= @exhibition.detail %></p>
        </div>
      </div>
      <div class="col-xs-7">
        <% @exhibition.exhibition_arts.each do |exhibition_art| %>
          <div class="js-modal-btn">
            <%= attachment_image_tag exhibition_art.art, :image, :fill, 300, 300, format: 'jpeg' %>
          </div>
          <div class="modal js-modal">
            <div class="modal-bg js-modal-close"></div>
            <div class="modal-content">
              <%= render 'arts/art', art: exhibition_art, comment: @comment %>
              <p class="js-modal-close">Close</p>
            </div>
          </div>
          <h4><%= exhibition_art.art.title %></h4><h6><%= exhibition_art.art.user.name %></h6>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <h6>展覧会は終了しました</h6>
<% end %>