<% if (@exhibition.start_date..@exhibition.end_date).cover?(DateTime.now.in_time_zone('Tokyo')) || @exhibition.user == current_user %>
  <div class="container">
    <div class="exhibition-show-container">
      <div class=" exhibition-title">
          <h3><%= @exhibition.title %>presented by <%= @exhibition.user.name %></h3>
          <%= link_to user_path(@exhibition.user) do %>
            <%= attachment_image_tag @exhibition.user, :profile_image, :fill, 90, 90, format: 'jpeg', class: ' exhibition-user-image'  %>
          <% end %>
          <p><%= @exhibition.detail %></p>
          <% if user_signed_in? && @exhibition.user == current_user && @exhibition.end_date > DateTime.now.in_time_zone('Tokyo') %>
            <%= link_to '編集する', edit_exhibition_path(@exhibition), class: 'btn btn-default' %>
          <% end %>
      </div>
      <div class="row">
        <div class="exhibition-show">
          <div class="col-xs-12">
            <% @exhibition.exhibition_arts.each do |exhibition_art| %>
              <div class="col-xs-4 modal-container">
                <div class="modal-contents">
                  <div class="js-modal-btn">
                    <%= attachment_image_tag exhibition_art.art, :image, :fill, 200, 200, format: 'jpeg', class: 'art-image' %>
                  </div>
                  <h4><%= exhibition_art.art.title %></h4>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% @exhibition.exhibition_arts.each do |exhibition_art| %>
    <div class="modal js-modal">
      <div class="modal-bg js-modal-close"></div>
      <div class="modal-content">
        <%= render 'arts/art', art: exhibition_art.art, comment: @comment %>
        <p class="js-modal-close">Close</p>
      </div>
    </div>
  <% end %>
<% else %>
  <h6>展覧会は終了しました</h6>
<% end %>