<div class="container">
  <div class="row">
    <div class="profile-container">
        <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpeg", class: 'profile_image' %>
        <%= user.name %>
        <%= user.user_status %>
        <%= user.introduction %>
        <% if user_signed_in? %>
          <%= link_to '投稿する', new_art_path, class: 'btn btn-default' %>
          <%= link_to '編集する', edit_user_path(user), class: 'btn btn-default' %>
        <% end %>
    </div>
  </div>
</div>