<div class="container">
  <div class="row">
    <div class="edit-user-form">
      <h4 class="title">Edit info</h4>
      <%= form_with model: current_user, url: user_path(current_user), method: :patch, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="row">
        <div class="edit-user-image">
          <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, size: "100x100", fallback: 'no-image.jpg',  onClick: "$('.image_field').click()", class: 'image_prev' %><br>
          <%= f.file_field :profile_image, class: 'image_field edit-image' %>
        </div>
      </div>

      <div class="row">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="row">
        <%= f.label :introduction %>
        <%= f.text_area :introduction %>
      </div>

      <div class="row">
        <%= f.submit 'Update', class: 'btn btn-default' %>
      </div>
      <% end %>
    </div>
  </div>
</div>