<div class="container">
  <div class="row">
    <h4>Edit Event</h4>
    <div class="form">
      <%= form_with model: @event, url: event_path(@event), method: :patch, local: true do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :detail %>
        <%= f.text_area :detail %>

        <%= f.label :start_date %>
        <%= f.datetime_select :start_date, {default: @event.start_date} %>

        <%= f.label :end_date %>
        <%= f.datetime_select :end_date, {default: @event.end_date} %>

        <%= f.submit '更新する', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>