<div class="container">
  <div class="row">
    <%= @event.user.name %>
    <%= @event.title %>
    <%= @event.detail %>
    <%= @event.event_type %>
    <%= @event.start_date.strftime('%Y/%m/%d %H:%M:%S') %>
    <%= @event.end_date.strftime('%Y/%m/%d %H:%M:%S') %>

    <% if @event.event_type == "プライベート" %>
      <%= link_to '変更する', edit_event_path(@event), class: 'btn btn-default' %>
      <%= link_to '削除する', event_path(@event), method: :delete, class: 'btn btn-default', "data-confirm" => "本当に削除しますか？" %>
    <% end %>
  </div>
</div>