<div class="container">
  <div class="row">
    <div class="top-logo">
      <%= image_tag 'wart-logo-6', alt: 'LOGO', class: 'top-logo', size: '400*200' %>
    </div>
  </div>
  <div class="row">
    <div class="top-menu">
      <div class="top-btns-1">
        <%= link_to "What's Wart?", about_path, class: 'top-btn' %>
        <%= link_to 'Arts', arts_path, class: 'top-btn' %>
      </div>
      <div class="top-btns-2">
        <%= link_to 'Exhibitions', exhibitions_path, class: 'top-btn' %>
        <%= link_to 'Artists', users_path, class: 'top-btn' %>
      </div>
    </div>
  </div>
</div>