<div class="col-xs-7">
  <%= attachment_image_tag art, :image, :fill, 300, 300, format: 'jpeg' %><br>
  <div class="comment-index">
    <% art.comments.each do |comment| %>
      <div id="comments_<%= comment.id %>">
        <%= render partial: 'comments/index', locals: {comment: comment, art: art} %>
      </div>
    <% end %>
    <div id="art_comment_block_<%= art.id %>"></div>
  </div>
</div>
<div class="col-xs-5">
  <h3><%= art.title %></h3>
  <p><%= art.detail %></p>
  <div id="art_<%= art.id %>">
    <%= render partial: 'likes/like', locals: { art: art } %>
  </div>
  <div class="form comment-form">
    <%= render partial: 'comments/form', locals: { comment: comment, art: art } %>
  </div>
</div>
