<div class="container">
  <div class="row">
    <div class="art-container">
      <h4 class="title">Edit Art</h4>
      <div class="col-xs-6">
        <%= attachment_image_tag @art, :image, :fill, 200, 200, format: 'jpeg', class: 'art-image-show' %>
      </div>
      <div class="col-xs-4">
        <%= form_with model: @art, url: art_path(@art), method: :patch, local: true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
            <%= f.label :title %><br>
            <%= f.text_field :title %><br>

            <%= f.label :detail %><br>
            <%= f.text_area :detail %><br>
          <%= f.submit 'Update', class: 'btn btn-default' %>
        <% end %>
        <%= link_to 'Delete', art_path(@art), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-default'  %>
      </div>
    </div>
  </div>
</div>