<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= attachment_image_tag @art, :image, :fill, 400, 400, format: 'jpeg' %>
    </div>
    <%= form_with model: @art, url: art_path(@art), method: :patch, local: true do |f| %>
      <div class="col-xs-4">
        <%= f.label :title %>
        <%= f.text_field :title %><br>

        <%= f.label :detail %>
        <%= f.text_area :detail %>
      </div>
      <%= f.submit '更新する', class: 'btn btn-default' %>
    <% end %>
    <%= link_to '削除する', art_path(@art), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-default'  %>
  </div>
</div>