<div class="container">
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="row">
    <h3 class="title">Arts Index</h3>
    <div class="sort">
      <%= link_to '新着順', arts_path(sort: "asc"), class: 'btn btn-default' %>
      <% @tags.each do |tag| %>
        <%= link_to tag.name, arts_path(tag: tag.id), class: 'btn btn-default' %>
      <% end %>
    </div>
    <div class="arts-container">
      <% @arts.each do |art| %>
        <div class="col-xs-3">
          <%= link_to art_path(art) do %>
            <%= attachment_image_tag art, :image, :fill, 200, 200, format: 'jpeg', class: 'art-image' %><br>
          <% end %>
          <h5><%= link_to art.title, art_path(art) %></h5>
          <h6><%= art.likes.count %>いいね</h6>
          <% if user_signed_in? && current_user.add_art?(art.id) %>
            <p>この作品はすでに選択されています</p>
          <% end %>
        </div>
      <% end %>
      <%= paginate @arts %>
    </div>
  </div>
</div>