<div class="container">
  <div class="row">
    <div class="art-form">
      <h3 class="title">New Art</h3>
      <%= form_with model: @art, url: arts_path, method: :post, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

        <%= attachment_image_tag @art, :image, :fill, 100, 100, size: "100x100", fallback: 'no-image.jpg',  onClick: "$('.image_field').click()", class: 'image_prev' %>
        <%= f.file_field :image, class: 'image_field new-art-image' %>

        <%= f.label :title %>
        <%= f.text_field :title %><br>

        <%= f.label :detail %>
        <%= f.text_field :detail %><br>

        <%= f.label :tag %>
        <%= collection_check_boxes(:art, :tag_ids, Tag.all, :id, :name) do |t| %>
          <% t.label { t.check_box + t.text } %>
        <% end %>

        <%= f.submit '投稿する', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>