<div class="container">
  <div class="row">
    <h3>New Art</h3>
    <div class="col-xs-5">
      <div class="form">
        <%= form_with model: @art, url: arts_path, method: :post, local: true do |f| %>

          <%= attachment_image_tag @art, :image, :fill, 100, 100, size: "100x100", fallback: 'no-image.jpg',  onClick: "$('.image_field').click()", class: 'image_prev' %>
          <%= f.file_field :image, class: 'image_field' %>

          <%= f.label :title %>
          <%= f.text_field :title %><br>

          <%= f.label :detail %>
          <%= f.text_field :detail %><br>

          <%= f.label :tag %>
          <%= collection_check_boxes(:art, :tag_ids, Tag.all, :id, :name) do |t| %>
            <% t.label { t.check_box + t.text } %>
          <% end %>

          <%= f.submit '投稿する', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>