<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'users/template', user: @user %>
    </div>
    <div class="col-xs-9">
      <div class="art-container">
        <div class="row">
          <div class="col-xs-5">
            <%= attachment_image_tag @art, :image, :fill, 300, 300, format: 'jpeg', class: 'art-image-show' %><br>
            <div class="comment-index">
              <% @art.comments.each do |comment| %>
                <div id="comments_<%= comment.id %>">
                  <%= render partial: 'comments/index', locals: {comment: comment, art: @art} %>
                </div>
              <% end %>
              <div id="comment"></div>
            </div>
          </div>
          <div class="col-xs-4">
            <h3><%= @art.title %></h3>
            <% if @user == current_user %>
              <%= form_with model: @cart_art, url: cart_arts_path, method: :post, local: true do |f| %>
                <%= hidden_field_tag :art_id, @art.id %>
                <%= f.submit '展覧会に出す', class: 'btn btn-default' %>
              <% end %>
            <% end %>
            <p><%= @art.detail %></p>
            <div id="art_<%= @art.id %>">
              <%= render partial: 'likes/like', locals: { art: @art } %>
            </div>
            <% if @user == current_user %>
              <%= link_to '編集する', edit_art_path(@art), class: 'btn btn-default' %>
            <% end %>
            <div class="form comment-form">
              <%= render partial: 'comments/form', locals: { comment: @comment, art: @art } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>